<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div
          class="list-group"
          v-for="(almacen, index) in almacenes"
          :key="index"
        >
          <a
            href="#"
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="media-body">{{ almacen.nombre }}</h5>
              <a
                type="button"
                class="btn btn-danger"
                @click="deleteAlmacen(almacen._id)"
                >Eliminar</a
              >
              <br />
            </div>
          </a>
        </div>
      </div>
      <div class="col">
        <button type="button" class="btn btn-success text-white">
          <router-link to="/crearalmacen" class="text-white"
            >Crear nuevo</router-link
          >
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";

export default {
  name: "Almacenes",
  data() {
    return {
      almacenes: [],
    };
  },
  mounted() {
    this.getAlmacen();
  },
  methods: {
    getAlmacen() {
      axios.get("http://localhost:3900/almacenes/getAlmacenes").then((res) => {
        if (res.data.status == "success") {
          this.almacenes = res.data.almacenes;
        }
      });
    },
    deleteAlmacen(AlmacenId) {
      swal({
        title: "¿Estás seguro de eliminar este articulo?",
        text: "Una vez eliminado no podras recuperar el articulo",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          axios
            .delete("http://localhost:3900/almacenes/almacen/" + AlmacenId)
            .then(() => {
              swal(
                "El articulo se ha borrado",
                "El articulo se ha borrado correctamente",
                "success"
              );
              this.$router.push("/almacenes");
            });
        } else {
          swal("No has borrado nada");
        }
      });
    },
  },
};
</script>
