<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div
          class="list-group"
          v-for="(articulo, index) in articulos"
          :key="index"
        >
          <a
            :to="'/editArticle/'+articulo._id"
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="media-body">{{ articulo.nombre }}</h5>
              <a type="button" class="btn btn-danger"  @click="deleteArticle(articulo._id)">Eliminar</a>
               <button type="button" class="btn btn-warning text-white">
          <router-link :to="'/editArticle/'+articulo._id" class="text-white"
            >Modificar</router-link
          >
        </button>

              <br />
            </div>
            <p class="mb-1">$ {{ Number.parseFloat(articulo.precio) }}</p>
            <small>Tope Maximo: {{ articulo.topeMaximo }} </small><br />
            <small>TopeMinimo: {{ articulo.topeMinimo }} </small>
          </a>
        </div>
      </div>
      <div class="col">
        <button type="button" class="btn btn-success text-white">
          <router-link to="/crearArticles" class="text-white"
            >Crear nuevo</router-link
          >
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import swal from 'sweetalert';

export default {
  name: "Articulos",
  data() {
    return {
      articulos: [],
    };
  },
  mounted() {
    this.getArticle();
  },
  methods: {
    getArticle() {
      axios.get("http://localhost:3900/articulos/articulos/").then((res) => {
        if (res.data.status == "success") {
          this.articulos = res.data.articulos;
        }
      });
    },
    deleteArticle(articleId) {
      swal({
        title: "¿Estás seguro de eliminar este articulo?",
        text: "Una vez eliminado no podras recuperar el articulo",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          axios.delete("http://localhost:3900/articulos/articulo/" + articleId).then(() => {
            swal(
              "El articulo se ha borrado",
              "El articulo se ha borrado correctamente",
              "success"
            );
            this.$router.push("/articulos");
          });
        } else {
          swal("No has borrado nada");
        }
      });
    },
  },
};
</script>
