<template>
  <div class="container">
    <form v-on:submit.prevent="saveArticle()">
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
          <input
            class="form-control"
            placeholder="Nombre"
            type="text"
            name="nombre"
            v-model="articulo.nombre"
            disabled
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label"
          >Precio</label
        >
        <div class="col-sm-10">
          <input
            class="form-control"
            placeholder="Precio"
            type="text"
            name="precio"
            v-model="articulo.precio"
            disabled
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label"
          >Tope Mínimo</label
        >
        <div class="col-sm-10">
          <input
            class="form-control"
            placeholder="Tope mínimo"
            type="number"
            name="topeMinimo"
            v-model="articulo.topeMinimo"
            disabled
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label"
          >Tope Máximo</label
        >
        <div class="col-sm-10">
          <input
            class="form-control"
            placeholder="Tope Máximo"
            type="text"
            name="topeMaximo"
            disabled
            v-model="articulo.topeMaximo"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label"
          >Cantidad articulos</label
        >
        <div class="col-sm-10">
          <input
            class="form-control"
            type="number"
            name="articulos"
            v-model="cantidad"
            required
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label"
          >Almacen</label
        >
        <div class="col-sm-10">
          <select
            class="form-control"
            v-model="almacenSelected.nombre"
            required
          >
            <option v-for="(almacen, index) in almacenes" :key="index">
              {{ almacen.nombre }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">
            Guardar salida
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import Salida from "../models/Salida";
import Articulo from "../models/Articulo";

export default {
  name: "CrearSalidas",
  data() {
    return {
      salida: new Salida("", "", ""),
      articulo: new Articulo("", "", "", ""),
      submitted: false,
      topeMaximo: null,
      cantidad: null,
      almacenes: [],
      almacenSelected: [],
    };
  },
  mounted() {
    var articleId = this.$route.params.id;
    this.getArticle(articleId);
    this.getAlmacen();
  },
  methods: {
    getArticle(articleId) {
      axios
        .get("http://localhost:3900/articulos/articulo/" + articleId)
        .then((res) => {
          if (res.data.status == "success") {
            this.articulo = res.data.articulo;
          }
        });
    },
    saveArticle() {
      var articleId = this.$route.params.id;
      this.articulo.topeMaximo =
        Number(this.articulo.topeMaximo) - Number(this.cantidad);
      console.log(this.articulo.topeMaximo);
      axios
        .put(
          "http://localhost:3900/articulos/articulo/" + articleId,
          this.articulo
        )
        .then((res) => {
          if (res.data.status == "success") {
            if (res.data.articulo) {
              swal(
                "Salida guardada",
                "La salida se ha guardado correctamente",
                "success"
              );
              this.articulo = res.data.articulo;
              this.saveSalida();
              //this.$router.push("/articulo/"+this.articulo._id);
            } else {
              //Alerta de error
              swal(
                "Guardado fallido",
                "Ha fallado el guardado de la salida",
                "error"
              );
            }
          } else {
            //Alerta de error
            swal(
              "Guardado fallido",
              "Ha fallado el guardado de la salida",
              "error"
            );
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getAlmacen() {
      axios.get("http://localhost:3900/almacenes/getAlmacenes").then((res) => {
        if (res.data.status == "success") {
          this.almacenes = res.data.almacenes;
        }
      });
    },
    saveSalida() {
      this.salida.articulo_name = this.articulo.nombre;
      this.salida.almacen = this.almacenSelected.nombre;
      this.salida.articulos_cant = Number(this.cantidad);
      
      axios
        .post("http://localhost:3900/salidas/save", this.salida)
        .then((res) => {
          if (res.data.status == "success") {
            if (res.data.salida) {
              this.salida = res.data.salida;
              this.$router.push("/salidas");
            } else {
              //Alerta de error
              swal(
                "Creación fallida",
                "La salida no se ha guardado correctamente",
                "error"
              );
            }
          } else {
            //Alerta de error
            swal(
              "Guardado fallido",
              "Ha fallado el guardado de la salida",
              "error"
            );
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
