<template>
  <div class="container">
    <form  v-on:submit.prevent="save()">
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre del proveedor</label>
        <div class="col-sm-10">
          <input
            class="form-control"
            placeholder="Nombre"
            type="text" name="nombre" v-model="proveedor.nombre"
          />
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Crear Nuevo</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import axios from "axios";
import swal from 'sweetalert';
import Proveedor from "../models/Proveedor";

export default {
  name: "CrearProveedores",
  data() {
    return {
      proveedor: new Proveedor(""),
      submitted: false,
    };
  },
  methods: {
    save() {
      axios
        .post("http://localhost:3900/proveedores/save", this.proveedor)
        .then((res) => {
          if (res.data.status == "success") {
            if (res.data.proveedor) {
              swal(
                "Proveedor Guardado",
                "El Proveedor se ha creado correctamente",
                "success"
              );
              this.proveedor = res.data.proveedor;
              this.$router.push("/proveedores");
            } else {
              //Alerta de error
              swal(
                "Creación fallida",
                "El proveedor no se ha guardado correctamente",
                "error"
              );
            }
          } else {
            //Alerta de error
            swal(
              "Creación fallida",
              "El proveedor no se ha guardado correctamente",
              "error"
            );
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
