<template>
  <div class="container">
    <form v-on:submit.prevent="saveArticle()">
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
          <input
            class="form-control"
            placeholder="Nombre"
            type="text"
            name="nombre"
            v-model="articulo.nombre"
            disabled
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label"
          >Precio</label
        >
        <div class="col-sm-10">
          <input
            class="form-control"
            placeholder="Precio"
            type="text"
            name="precio"
            v-model="articulo.precio"
            disabled
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label"
          >Tope Mínimo</label
        >
        <div class="col-sm-10">
          <input
            class="form-control"
            placeholder="Tope mínimo"
            type="number"
            name="topeMinimo"
            v-model="articulo.topeMinimo"
            disabled
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label"
          >Tope Máximo</label
        >
        <div class="col-sm-10">
          <input
            class="form-control"
            placeholder="Tope Máximo"
            type="text"
            name="topeMaximo"
            disabled
            v-model="articulo.topeMaximo"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label"
          >Cantidad de articulos</label
        >
        <div class="col-sm-10">
          <input
            class="form-control"
            type="number"
            name="articulos"
            v-model="cantidad"
            required
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label"
          >Proveedor</label
        >
        <div class="col-sm-10">
          <select
            class="form-control"
            v-model="proveedorSelected.nombre"
            required
          >
            <option v-for="(proveedor, index) in proveedores" :key="index">
              {{ proveedor.nombre }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Guardar Orden</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import Orden from "../models/Orden";
import Articulo from "../models/Articulo";

export default {
  name: "CrearOrdenes",
  data() {
    return {
      orden: new Orden("", "", ""),
      salida: null,
      articulo: new Articulo("", "", "", ""),
      submitted: false,
      topeMaximo: null,
      cantidad: null,
      proveedores: [],
      proveedorSelected: [],
    };
  },
  mounted() {
    var articleId = this.$route.params.id;
    this.getArticle(articleId);
    this.getProveedores();
  },
  methods: {
    getArticle(articleId) {
      axios
        .get("http://localhost:3900/articulos/articulo/" + articleId)
        .then((res) => {
          if (res.data.status == "success") {
            this.articulo = res.data.articulo;
          }
        });
    },
    saveArticle() {
      var articleId = this.$route.params.id;
      this.articulo.topeMaximo =
        Number(this.articulo.topeMaximo) + Number(this.cantidad);
      console.log(this.articulo.topeMaximo);
      axios
        .put(
          "http://localhost:3900/articulos/articulo/" + articleId,
          this.articulo
        )
        .then((res) => {
          if (res.data.status == "success") {
            if (res.data.articulo) {
              swal(
                "Orden guardada",
                "La Orden se ha guardado correctamente",
                "success"
              );
              this.articulo = res.data.articulo;
              this.saveOrden();
              //this.$router.push("/articulo/"+this.articulo._id);
            } else {
              //Alerta de error
              swal(
                "Guardado fallido",
                "Ha fallado el guardado de la orden",
                "error"
              );
            }
          } else {
            //Alerta de error
            swal(
              "Guardado fallido",
              "Ha fallado el guardado de la orden",
              "error"
            );
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getProveedores() {
      axios
        .get("http://localhost:3900/proveedores/getProveedor")
        .then((res) => {
          if (res.data.status == "success") {
            this.proveedores = res.data.proveedores;
          }
        });
    },
    saveOrden() {
      this.orden.articulo_name = this.articulo.nombre;
      this.orden.proveedor = this.proveedorSelected.nombre;
      this.orden.articulos_cant = Number(this.cantidad);
      console.log(this.orden);
      axios
        .post("http://localhost:3900/ordenes/save", this.orden)
        .then((res) => {
          if (res.data.status == "success") {
            if (res.data.orden) {
              this.orden = res.data.orden;
              this.$router.push("/ordenes");
            } else {
              //Alerta de error
              swal(
               "Guardado fallido",
                "Ha fallado el guardado de la orden",
                "error"
              );
            }
          } else {
            //Alerta de error
            swal(
               "Guardado fallido",
                "Ha fallado el guardado de la orden",
                "error"
            );
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
