<template>
  <div class="container">
    <form  v-on:submit.prevent="save()">
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre del almacen</label>
        <div class="col-sm-10">
          <input
            class="form-control"
            placeholder="Nombre"
            type="text" name="nombre" v-model="almacen.nombre"
          />
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Crear Nuevo</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import axios from "axios";
import swal from 'sweetalert';
import Almacen from "../models/Almacen";

export default {
  name: "CrearAlmacenes",
  data() {
    return {
      almacen: new Almacen(""),
      submitted: false,
    };
  },
  methods: {
    save() {
      axios
        .post("http://localhost:3900/almacenes/save", this.almacen)
        .then((res) => {
          if (res.data.status == "success") {
            if (res.data.almacen) {
              swal(
                "Almacén Guardado",
                "El almacén se ha creado correctamente",
                "success"
              );
              this.almacen = res.data.almacen;
              this.$router.push("/almacenes");
            } else {
              //Alerta de error
              swal(
                "Creación fallida",
                "El almacen no se ha guardado correctamente",
                "error"
              );
            }
          } else {
            //Alerta de error
            swal(
              "Creación fallida",
              "El almacen no se ha guardado correctamente",
              "error"
            );
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
