<template>
  <div class="container">
    <form v-on:submit.prevent="save()">
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label"
          >Seleccionar articulo</label
        >
        <div class="col-sm-10">
          <select
            class="form-control"
            v-model="articuloSelected.nombre"
            required
          >
            <option v-for="(articulo, index) in articulos" :key="index">
              {{ articulo.nombre }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label"
          >Tipo de recepción</label
        >
        <div class="col-sm-10">
          <select
            class="form-control"
            v-model="tipoRecepcionSelected.nombre"
            required
          >
            <option>Proveedor</option>
            <option>Almacén</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Crear Nuevo</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import Recepcion from "../models/Recepcion";

export default {
  name: "CrearRecepcion",
  data() {
    return {
      recepcion: new Recepcion(""),
      almacen: null,
      submitted: false,
      articuloSelected: [],
      tipoRecepcionSelected: [],
      articulos: [],
    };
  },
  mounted() {
    this.getArticle();
  },
  methods: {
    getArticle() {
      axios.get("http://localhost:3900/articulos/articulos/").then((res) => {
        if (res.data.status == "success") {
          this.articulos = res.data.articulos;
        }
      });
    },
    save() {
        this.recepcion.tipoRecepcion = this.tipoRecepcionSelected.nombre;
        this.recepcion.articulos = this.articuloSelected.nombre;
      axios
        .post("http://localhost:3900/enrecepcion/save", this.recepcion)
        .then((res) => {
          if (res.data.status == "success") {
            if (res.data.recepcion) {
              swal(
                "Proveedor Guardado",
                "La recepción se ha creado correctamente",
                "success"
              );
              this.recepcion = res.data.recepcion;
              this.$router.push("/recepciones");
            } else {
              //Alerta de error
              swal(
                "Creación fallida",
                "La recepción no se ha guardado correctamente",
                "error"
              );
            }
          } else {
            //Alerta de error
            swal(
              "Creación fallida",
              "La recepción no se ha guardado correctamente",
              "error"
            );
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
