<template>
  <div class="container">
    <form v-on:submit.prevent="save()">
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
          <input
            class="form-control"
            placeholder="Nombre"
            type="text"
            name="nombre"
            v-model="articulo.nombre"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label"
          >Precio</label
        >
        <div class="col-sm-10">
          <input
            class="form-control"
            placeholder="Precio"
            type="text"
            name="precio"
            v-model="articulo.precio"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label"
          >Tope Mínimo</label
        >
        <div class="col-sm-10">
          <input
            class="form-control"
            placeholder="Tope mínimo"
            type="number"
            name="topeMinimo"
            v-model="articulo.topeMinimo"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label"
          >Tope Máximo</label
        >
        <div class="col-sm-10">
          <input
            class="form-control"
            placeholder="Tope Máximo"
            type="text"
            name="topeMaximo"
            v-model="articulo.topeMaximo"
          />
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">
            Guardar Articulo
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import axios from "axios";
import Articulo from "../models/Articulo";
import swal from "sweetalert";
export default {
  name: "EditArticulo",
  data() {
    return {
      articulo: new Articulo("", "", "", ""),
      submitted: false,
    };
  },
  mounted() {
    var articleId = this.$route.params.id;
    this.getArticle(articleId);
  },
  methods: {
    getArticle(articleId) {
      axios
        .get("http://localhost:3900/articulos/articulo/" + articleId)
        .then((res) => {
          if (res.data.status == "success") {
            this.articulo = res.data.articulo;
          }
        });
    },
    save() {
      var articleId = this.$route.params.id;

      axios
        .put("http://localhost:3900/articulos/articulo/" + articleId, this.articulo)
        .then((res) => {
          if (res.data.status == "success") {
            if (res.data.articulo) {
              swal(
                "Articulo editado",
                "El articulo se ha editado correctamente",
                "success"
              );
               this.articulo = res.data.articulo;
                      this.$router.push("/articulo/"+this.articulo._id);
            } else {
              //Alerta de error
              swal(
                "Edición fallida",
                "El articulo no se ha guardado correctamente",
                "error"
              );
            }
          } else {
            //Alerta de error
            swal(
              "Edición fallida",
              "El articulo no se ha guardado correctamente",
              "error"
            );
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>