<template><nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Almacén</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
           <router-link to="/articulos" class="nav-link">Artículos</router-link> 
      </li>
      <li class="nav-item">
       <router-link to="/proveedores" class="nav-link">Proveedores</router-link> 
      </li>
      <li class="nav-item">
       <router-link to="/almacenes" class="nav-link">Almacenes</router-link> 
      </li>
       <li class="nav-item">
        <router-link to="/recepciones" class="nav-link">Recepción</router-link> 
      </li>
       <li class="nav-item">
         <router-link to="/salidas" class="nav-link">Salidas</router-link> 
      </li>
       <li class="nav-item">
           <router-link to="/ordenes" class="nav-link">Ordenes</router-link> 
      </li>
    </ul>
  </div>
</nav>

</template>

<script>
export default {
  name: 'Header'
}
</script>
