<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <center> <H1> Mis Ordenes </H1> </center>
        <div class="list-group" v-for="(orden, index) in ordenes" :key="index">
          <a
            :to="'/editArticle/' + orden._id"
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="media-body">Articulo: {{ orden.articulo_name }}</h5>

              <br />
            </div>

            <small>Cantidad de la orden: {{ orden.articulos_cant }} </small
            ><br />
            <small>Proveedor: {{ orden.proveedor }} </small>
          </a>
        </div>
      </div>
     
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "MisSalidas",
  data() {
    return {
      ordenes: [],
    };
  },
  mounted() {
   this.getOrden();
  },
  methods: {
    getOrden() {
      axios.get("http://localhost:3900/ordenes/getOrden/").then((res) => {
        if (res.data.status == "success") {
          this.ordenes = res.data.ordenes;
        }
      });
    },
  },
};
</script>
