<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <center> <H1> Mis Salidas</H1> </center>
        <div class="list-group" v-for="(salida, index) in salidas" :key="index">
          <a
            :to="'/editArticle/' + salida._id"
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="media-body">Articulo: {{ salida.articulo_name }}</h5>

              <br />
            </div>

            <small>Cantidad de la salida: {{ salida.articulos_cant }} </small
            ><br />
            <small>Almacen: {{ salida.almacen }} </small>
          </a>
        </div>
      </div>
     
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "MisSalidas",
  data() {
    return {
      salidas: [],
    };
  },
  mounted() {
    this.getSalidas();
  },
  methods: {
    getSalidas() {
      axios.get("http://localhost:3900/salidas/getSalidas/").then((res) => {
        if (res.data.status == "success") {
          this.salidas = res.data.salidas;
        }
      });
    },
  },
};
</script>
