<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div
          class="list-group"
          v-for="(proveedor, index) in proveedores"
          :key="index"
        >
          <a
            href="#"
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="media-body">{{ proveedor.nombre }}</h5>
              <a
                type="button"
                class="btn btn-danger"
                @click="deleteProveedor(proveedor._id)"
                >Eliminar</a
              >
              <br />
            </div>
          </a>
        </div>
      </div>
      <div class="col">
        <button type="button" class="btn btn-success text-white">
          <router-link to="/crearproveedor" class="text-white"
            >Crear nuevo</router-link
          >
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";

export default {
  name: "Proveedores",
  data() {
    return {
      proveedores: [],
    };
  },
  mounted() {
    this.getProveedor();
  },
  methods: {
    getProveedor() {
      axios.get("http://localhost:3900/proveedores/getProveedor").then((res) => {
        if (res.data.status == "success") {
          this.proveedores = res.data.proveedores;
        }
      });
    },
    deleteProveedor(ProveedorId) {
      swal({
        title: "¿Estás seguro de eliminar este articulo?",
        text: "Una vez eliminado no podras recuperar el articulo",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          axios
            .delete("http://localhost:3900/proveedores/proveedor/" + ProveedorId)
            .then(() => {
              swal(
                "El articulo se ha borrado",
                "El articulo se ha borrado correctamente",
                "success"
              );
              this.$router.push("/proveedores");
            });
        } else {
          swal("No has borrado nada");
        }
      });
    },
  },
};
</script>
