<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div
          class="list-group"
          v-for="(recepcion, index) in recepciones"
          :key="index"
        >
          <a
            href="#"
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="media-body">Artículo: {{ recepcion.articulos }}</h5>
              
              <a
                type="button"
                class="btn btn-danger"
                @click="deleteProveedor(recepcion._id)"
                >Eliminar</a
              >
              <br />
            </div>
            <p class="mb-1">Tipo de recepción: {{recepcion.tipoRecepcion}}</p>
          </a>
        </div>
      </div>
      <div class="col">
        <button type="button" class="btn btn-success text-white">
          <router-link to="/crear-recepcion" class="text-white"
            >Crear nuevo</router-link
          >
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";

export default {
  name: "Recepcion",
  data() {
    return {
      recepciones: [],
    };
  },
  mounted() {
    this.getProveedor();
  },
  methods: {
    getProveedor() {
      axios.get("http://localhost:3900/enrecepcion/getRecepciones").then((res) => {
        if (res.data.status == "success") {
          this.recepciones = res.data.recepciones;
        }
      });
    },
    deleteProveedor(RecepcionId) {
      swal({
        title: "¿Estás seguro de eliminar está recepción?",
        text: "Una vez eliminado no podras recuperar la recepción",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          axios
            .delete("http://localhost:3900/enrecepcion/recepcion/" + RecepcionId)
            .then(() => {
              swal(
                "La recepción se ha borrado",
                "La recepción se ha borrado correctamente",
                "success"
              );
              this.$router.push("/recepciones");
            });
        } else {
          swal("No has borrado nada");
        }
      });
    },
  },
};
</script>
