<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div
          class="list-group"
          v-for="(articulo, index) in articulos"
          :key="index"
        >
          <a
            :to="'/editArticle/'+articulo._id"
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="media-body">{{ articulo.nombre }}</h5>
               <button type="button" class="btn btn-success text-white">
          <router-link :to="'/crearsalida/'+articulo._id" class="text-white"
            >Crear Salida</router-link
          >
        </button>

              <br />
            </div>
            <p class="mb-1">{{ articulo.precio }}</p>
            <small>Tope Maximo: {{ articulo.topeMaximo }} </small><br />
            <small>TopeMinimo: {{ articulo.topeMinimo }} </small>
          </a>
        </div>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary text-white">
          <router-link to="/missalidas" class="text-white"
            >Ver mis salidas</router-link
          >
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Salidas",
  data() {
    return {
      articulos: [],
    };
  },
  mounted() {
    this.getArticle();
  },
  methods: {
   getArticle() {
      axios.get("http://localhost:3900/articulos/articulos/").then((res) => {
        if (res.data.status == "success") {
          this.articulos = res.data.articulos;
        }
      });
    }
  },
};
</script>
